<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pokedex_Matheus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C9881A3245F2BAB005CEF9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9881B9245F2BAD005CEF9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9881C4245F2BAD005CEF9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
